<div class="ui mini menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Language <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">Russian</a>
        <a class="item">Spanish</a>
      </div>
    </div>
    <% if user_session %>
      <div class="item">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete,
        class:"ui brown button"%>
      </div>
    <% else %>
      <div class="item">
          <%= link_to 'Signup', new_user_registration_path, class:"ui primary button"%>
      </div>
    <% end %>
  </div>
</div>
